body {
  font-family: verdana, arial, helvetica, geneva, sans-serif;
  font-size: 12px;
}

p {
  font-family: verdana, arial, helvetica, geneva, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
}

dl {
  font-family: verdana, arial, helvetica, geneva, sans-serif;
  font-size: 12px;
}

dt {
  font: bold 12px verdana, arial, helvetica, geneva, sans-serif;
}
 
dd {
  font-family: verdana, arial, helvetica, geneva, sans-serif;
  font-size: 12px;
}

.sidebar {
  font: bold 12px verdana, arial, helvetica, geneva, sans-serif;
  text-decoration: none;
}

.sidebar a {
  color: #000000;
  text-decoration: none;
} 

.sidebar a:link {
  color: #000000;
  text-decoration: none;
} 

.sidebar a:visited {
  color: #000000;
  text-decoration: none;
} 

.sidebar a:active {
  color: #000000;
  text-decoration: none;
} 
 
.sidebar a:hover {
  color: #000000;
  text-decoration: underline;
}

h3 {
  text-align: left;
  font: bold 14px verdana, arial, helvetica, geneva, sans-serif;
  color: black;
}

h1 {
  background-color: #f5f5f5;
  border-bottom: 2px solid #808000;
  border-left: 10px solid #808000;
  padding: 3px 3px 3px 10px;
  text-align: left;
  font: bold 14px verdana, arial, helvetica, geneva, sans-serif;
  color: black;
}

h2 {
  background-color: #f5f5f5;
  border-bottom: 2px solid #c00000;
  border-left: 4px solid #c00000;
  padding: 3px 3px 3px 10px;
  text-align: left;
  font: bold 12px verdana, arial, helvetica, geneva, sans-serif;
  color: black;
}

p a.ref {
  color: #800000;
  text-decoration: none;
} 

p a.ref:link {
  color: #800000;
  text-decoration: none;
} 

p a.ref:visited {
  color: #800000;
  text-decoration: none;
} 

p a.ref:active {
  color: #ff0000;
  text-decoration: none;
} 
 
p a.ref:hover {
  color: #800000;
  text-decoration: underline;
}

dd a.ref {
  color: #800000;
  text-decoration: none;
} 

dd a.ref:link {
  color: #800000;
  text-decoration: none;
} 

dd a.ref:visited {
  color: #800000;
  text-decoration: none;
} 

dd a.ref:active {
  color: #ff0000;
  text-decoration: none;
} 
 
dd a.ref:hover {
  color: #800000;
  text-decoration: underline;
}

dt a.ref {
  color: #800000;
  text-decoration: none;
} 

dt a.ref:link {
  color: #800000;
  text-decoration: none;
} 

dt a.ref:visited {
  color: #800000;
  text-decoration: none;
} 

dt a.ref:active {
  color: #ff0000;
  text-decoration: none;
} 
 
dt a.ref:hover {
  color: #800000;
  text-decoration: underline;
}
