<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Author" content="">
<meta name="Description" content="Suomen Gurdjieff-Seura ry.">
<meta name="Keywords" content="Gurdjieff, Suomen Gurdjieff-Seura, Gurdjieff Society of Finland">
<title>Suomen Gurdjieff-Seura ry - {{ page.title }}</title>
<link rel="stylesheet" href="index.css" type="text/css">
<style type="text/css"></style></head>
<body background="bg.jpg">
<center>
<table cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
<td bgcolor="#ffffff">

<table cellspacing="2" cellpadding="0" border="0">
<tbody><tr>
<td bgcolor="#848C84">

<table cellpadding="0" border="0">
<tbody><tr>
<td><a href="http://gurdjieff.fi"><img src="titlepic.gif" border="0" width="700"></a></td>
</tr>
</tbody></table>

<table cellspacing="2" cellpadding="0" border="0">
<tbody><tr valign="top">
<td bgcolor="#ffffff">
{% include navi.html %}
</td>
<td bgcolor="#ffffff" valign="top" width="558">
<table cellspacing="0" cellpadding="10" border="0" width="100%">
<tbody><tr>
<td align="left">
